@import url(./fonts.rtl/YekanBakh/style.css);
body{
	font-family: "YekanBakh";
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, .h1, .h2, .h3, .h4, .h5, .h6,.btn, .wp-block-button__link, .woocommerce .widget_shopping_cart .buttons a,
.woocommerce.widget_shopping_cart .buttons a, .woocommerce #review_form #respond .form-submit input, .woocommerce-cart-form .table tr .button, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce #place_order,
.header-nav.w3menu .nav > li > a,
.section-head h1, .section-head .h1, .section-head h2, .section-head .h2, .section-head h3, .section-head .h3, .section-head h4, .section-head .h4, .section-head h5, .section-head .h5, .section-head h6, .section-head .h6,
.shop-card .product-tag .badge, p,
.header-nav.w3menu .nav > li .mega-menu li a.menu-title, .header-nav.w3menu .nav > li .sub-menu li a.menu-title,
.main-slider.style-1 .banner-content .swiper-meta-items .meta-content .price-num,.dz-product-detail .dz-info ul li strong,.dz-tabs .nav-tabs .nav-link,
input,.widget_categories.style-1 .cat-item, .contact-info.style-1 .text, .form-label, .dz-page-text p, .dz-blog.blog-single .dz-post-text p  {
	font-family: "YekanBakh";
}
/* .contact-info.style-1 .contact-bottom ul li {
	font-family: "YekanBakh";
} */
/* Style For Section Header */
.post-menu {
    text-align: right;
}
.post-menu .dz-content {
    margin-right: 5%;
}
/* Style For Section Slider */
/* .main-slider.style-1 .banner-media::after {
	opacity: 1;
} */
.main-slider.style-1 .main-swiper-thumb .swiper-slide.swiper-slide-nex::after {
	opacity: 1;
}
.main-slider .banner-media .img-preview::after {
    right: auto;
    left: 0;
    transform: rotate(180deg);
}
.animation-btn {
	left: auto;
	right: 39%;
}
.pagination-align.style-1 {
	left: auto;
	right: 70%;
	transform: rotate(180deg);
}
.main-slider.style-1 .banner-media .img-preview::after {
    right: auto;
    left: 0;
}
.main-slider.style-1 .star-1 {
	top: 70px;
	/* left: 45%; */
	right: auto;
	left: 46%;
    z-index: 1;
}
.main-slider.star-1, .main-slider.star-2 {
	position: absolute;
	z-index: 1;
}
.main-slider.style-1 .star-2 {
	top: 105px;
	/* right: 13%; */
	right: auto;
	left: 10%;
}
.me-xl-3{
    margin-left: 1rem !important;
    margin-right: auto;
}
/* Style For Section Categoty */
.shop-section .left-box::after {
	left: auto;
	right: 5%;
}
.shop-section .left-box .icon-button {
	position: absolute;
	/* right: -75px; */
	right: 950px;
	top: 50%;
	transform: translate(-8%, -50%);
}
.shop-section .right-box .icon-button {
	position: absolute;
	/* left: -65px; */
	right: -91px;
	top: 50%;
	transform: translate(-10%, -50%);
}
.shop-button-prev{
    transform: rotate(180deg);
}
.shop-button-next{
    transform: rotate(180deg);
}
.badge__emoji {
	display: block;
	/* margin: 0; */
	animation: identifier 20s linear infinite;
	animation-direction: reverse;
	transition: all 0.3s;
}
.badge__emoji::after {
    transform: rotate(180deg);
}
.shop-card .product-tag{
    right: 5px;
}
/* Style For Section BestProducts */
.about-box.style-1.right {
	padding-left: 0px;
	padding-right: 8rem;
}
.about-box.style-1.right .dz-media {
	float: right;
}
.about-box.style-1.right .dz-media img {
	mask-position: right;
}
.about-box.style-1 .dz-media .media-contant {
	right: 50%;
	transform: translate(50%, -50%);
}
.about-box.style-1.right .animation-text {
	left: 0;
	transform: translate(90%, 90%);
}
/* Style For Section Line */
.service-btn-2{
    left: 0;
    right: auto;
    transform: rotate(-90deg);
}
.companies-section::before {
	right: auto;
	left: -4%;
}
.companies-section::after {
	left: auto;
    right: -4%;
}
.companies-section .icon-button::after {
	/* left: -3px; */
	right: -3px;
}
/* Style For Section MostVisitedProducts */
.section-head i {
    transform: rotate(180deg);
}
/* Style For Section ShopSidBar Of Product */
.breadcrumb-row ul .breadcrumb-item + .breadcrumb-item::before {
	/* float: left; */
	float: right;
	transform: rotate(180deg);
}
.breadcrumb-row ul li {
	margin-left: 3px;
}
.filter-tag li:last-child {
	margin-right: auto;
	margin-left: 30px;
}
.filter-wrapper .filter-right-area > div:nth-child(3n-1) {
	/* border-left: 0 !important; */
	border-right: 0 !important;
}
.filter-wrapper .filter-right-area > div {
	border-left: 0px solid var(--border-color);
	border-right: 1px solid var(--border-color);
}
.filter-wrapper .filter-right-area .form-group .default-select .dropdown-toggle::after, .filter-wrapper .filter-right-area .form-group .bootstrap-select .dropdown-toggle::after {
	margin-left: 0px;
	margin-right: 18px;
}
.bootstrap-select > .dropdown-toggle {
	/* text-align: right; */
	text-align: left;
	white-space: nowrap;
}
.me-3 {
	margin-right: 0rem !important;
	margin-left: 1rem !important;
}
.widget_search .form-group .input-group-addon {
	right: auto;
	left: 15px;
}
.widget_archive li a, .wp-block-latest-posts li a, .wp-block-categories-list li a, .wp-block-archives-list li a, .widget_categories li a {
	/* float: left;
	text-align: left; */
	float: right;
	text-align: right;
}
.widget_archive ul li, .wp-block-categories-list li, .wp-block-archives-list li, .wp-block-latest-posts li, .widget_categories ul li {
	text-align: left;
}
.wp-block-latest-posts ul, .wp-block-categories-list ul, .wp-block-archives-list ul, .widget_categories ul ul, .widget_archive ul ul, .widget_meta ul ul, .widget_pages ul ul, .widget_recent_comments ul ul, .widget_nav_menu ul ul, .widget_recent_entries ul ul, .widget_services ul ul {
	padding-right: 1.125rem;
}
.widget_categories ul ul {
	margin-left: -15px !important;
}
.range-slider.style-1 span {
	margin-right: auto;
	margin-left: 30px;
}
.bookmark-btn.style-1 .form-check-label {
	margin-left: 0px;
	margin-right: 10px;
}
.dz-shop-card.style-2 .dz-media {
	margin-right: 0px;
	margin-left: 30px;
}
#lg-content-1{
	direction: ltr !important;
}
/* Style For Section Detail Of Product */
.save-text span{
	margin-left: auto;
	margin-right: 10px;
}
.detail-bx .feature-detail li i {
	margin-right: auto;
	margin-left: 10px;
}
.detail-bx .feature-detail li {
	padding: 10px 0 10px 40px;
	text-align: right;
}
.range-slider.style-1 .noUi-horizontal .noUi-handle {
	right: auto;
	left: 0;
}
/* Style For Section ShopSidBar Of Blog */
.search-bx button {
	right: auto;
	left: 5px;
}
.widget_categories.style-1 .cat-item {
	padding: 10px 26px 10px 0 !important;
}
.widget_categories.style-1 .cat-item::before {
	left: auto;
	right: 0;
    transform: rotate(180deg);
}
.recent-posts-entry .widget-post-bx .widget-post .dz-info {
	margin-left: auto;
	margin-right: 18px;
}
.dz-card .read-btn i {
    transform: rotate(180deg);
}
/* Style For Section Detail Of Blog */
.blog-single.style-1 .dz-meta li {
	margin-right: 0px;
	margin-left: 30px;
}
.blog-single.style-1 .dz-meta li::after {
	right: auto;
	left: -17px;
	/* transform: translate(0%, -50%); */
}
.wp-block-quote.is-large, .wp-block-quote.is-style-large, blockquote.wp-block-quote, blockquote.wp-block-pullquote, blockquote.wp-block-pullquote.alignright, blockquote.wp-block-pullquote.alignleft, blockquote {
	/* padding: 1.25rem 2rem 1.25rem 1.875rem; */
	padding: 1.25rem 1.875rem 1.25rem 2rem;
	/* font-family: "YekanBakh"; */
}
.wp-block-quote.is-large cite::before, .wp-block-quote.is-style-large cite::before, blockquote.wp-block-quote cite::before, blockquote.wp-block-pullquote cite::before, blockquote.wp-block-pullquote.alignright cite::before, blockquote.wp-block-pullquote.alignleft cite::before, blockquote cite::before {
	/* margin-right: 0.625rem; */
	margin-left: 0.625rem;
}
.wp-block-quote.is-large i, .wp-block-quote.is-large svg, .wp-block-quote.is-style-large i, .wp-block-quote.is-style-large svg, blockquote.wp-block-quote i, blockquote.wp-block-quote svg, blockquote.wp-block-pullquote i, blockquote.wp-block-pullquote svg, blockquote.wp-block-pullquote.alignright i, blockquote.wp-block-pullquote.alignright svg, blockquote.wp-block-pullquote.alignleft i, blockquote.wp-block-pullquote.alignleft svg, blockquote i, blockquote svg {
	right: auto;
	left: 24px;
	transform: rotate(180deg);
}
.wp-block-quote.is-large::after, .wp-block-quote.is-style-large::after, blockquote.wp-block-quote::after, blockquote.wp-block-pullquote::after, blockquote.wp-block-pullquote.alignright::after, blockquote.wp-block-pullquote.alignleft::after, blockquote::after {
	/* left: 0; */
	right: 0;
}
/* Style For Section About Us */
.about-banner .about-info {
	/* padding: 24px 33px 30px 30px; */
	padding: 24px 30px 30px 33px;
	right: auto;
	left: 16%;
}
.about-style2 .about-thumb {
	margin-right: auto;
	margin-left: 40px;
}
.about-style2 .about-bx-detail .about-bx-pic {
	margin-right: 0;
	margin-left: 15px;
}
.get-in-touch span {
	margin-left: 0;
	margin-right: 18px;
}
.m-r100 {
	margin-right: 0;
	margin-left: 100px;
}
/* Style For Section Contact Us */
.text-start {
	/* text-align: left !important; */
	text-align: right !important;
}
.contact-info.style-1 .contact-bottom .contact-left {
	/* margin-right: auto; */
	margin-left: 190px;
}
.contact-area1.style-1 {
	/* margin: 0 0 -215px auto; */
	margin: 0 auto -215px 0;
}
/* screen Responsive OF Slider */
@media only screen and (max-width: 1680px) {
	.main-slider.style-1 .banner-media::after {
		font-size: 80px;
		left: auto;
		right: -50px;
	}
}
@media only screen and (max-width: 575px) {
	.main-slider.style-1 .banner-media::after {
		font-size: 45px;
		left: auto;
		right: -20px;
	}
	.main-slider.style-1 .banner-media .img-preview::after {
		bottom: 32px;
		width: 30px;
	}
}
@media only screen and (max-width: 767px) {
	.main-slider.style-1 .banner-media img {
		border-radius: 20px;
	}
}
@media only screen and (max-width: 1199px) {
	.main-slider.style-1 .banner-media::after {
		font-size: 55px;
		left: auto;
		right: -35px;
		/* right: -15px; */
	}
	.main-slider.style-1 .slider-thumbs .slick-slide {
	  padding-right: auto;
	  padding-left: 40px;
	}
}
@media (max-width: 1366px) {
	/* .main-slider.style-1 .banner-media::after {
		font-size: 80px;
		left: auto;
		right: -40px;
	} */
}
.main-slider.style-1 .slider-thumbs .slick-slide {
	padding-right: auto;
	padding-left: 80px;
}
@media only screen and (max-width: 1680px) {
	.pagination-align.style-1 {
	  right: 55%;
	}
}
@media (max-width: 1600px) {
	.pagination-align.style-1 {
	  left: auto;
	  right: 70%;
	}
}
@media (max-width: 1366px) {
	.pagination-align.style-1 {
	  right: 18%;
	}
}
@media only screen and (max-width: 1199px) {
	.pagination-align.style-1 {
	  right: 12%;
	}
}

@media only screen and (max-width: 575px) {
	.pagination-align.style-1 {
	  right: 92%;
	}
}
  /* screen Responsive OF Section */
@media only screen and (max-width: 1480px) {
	.about-box.style-1.right {
	  padding-right: 4rem;
	}
}
@media only screen and (max-width: 1199px) {
	.about-box.style-1.right {
	  padding-right: 0px;
	}
}
@media only screen and (max-width: 1480px) {
	.about-box.style-1 {
	  padding-left: 4rem;
	}
}
@media only screen and (max-width: 1199px) {
	.about-box.style-1 {
	  padding-left: 0px;
	}
}
@media only screen and (max-width: 991px) and (max-width: 991px) {
	.header-nav.w3menu .nav > li.menu-item-has-children > a i, .header-nav.w3menu .nav > li.sub-menu-down > a i {
		float: left;
		transform: rotate(180deg);
	}
}
@media (min-width: 768px) {
	.me-md-5 {
		margin-right: auto !important;
		margin-left: 3rem !important;
	}
}
.logo-header {
	float: right;
}
@media only screen and (max-width: 1199px) {
	.logo-header {
		/* margin-right: auto !important; */
		margin-left: 8px !important;
	}
}
@media only screen and (max-width: 991px) {
	.logo-header {
		/* margin-right: auto !important;
		margin-left: 0 !important; */
		margin-right: 0 !important;
	}
}
@media only screen and (max-width: 575px) {
	.logo-header {
		height: 65px;
	}
}
.navbar-toggler {
	margin: 40px 15px 39px 0;
	float: left;
}
@media only screen and (max-width: 991px) {
	.navbar-toggler {
		margin: 18px 30px 16px 0;
	}
}
@media only screen and (max-width: 575px) {
	.navbar-toggler {
	margin: 10px 20px 10px 0;
	}
}
.filter-wrapper .filter-left-area .panel-btn, .filter-wrapper .filter-right-area .panel-btn {
	margin-right: 0px;
	margin-left: 16px;
}
.me-2 {
	margin-right: 0rem !important;
	margin-left: 0.5rem !important;
}
@media only screen and (max-width: 767px) {
.filter-wrapper .filter-right-area > div {
	border: 0;
}
}
/* .default-select.form-select, select.default-select {
	background-color: rgba(255, 255, 255, 0.5);
	color: #000;
} */
.filter-wrapper .filter-right-area .form-group .filter-pro {
	/* border-bottom: 0; */
  padding: 7px 20px 7px 20px;
  border: 0;
  /* background: transparent; */
  /* background-color: rgba(255, 255, 255, 0.5); */
  background-color: rgba(255, 244, 244, 0.5);
  color: var(--secondary);
  font-size: 14px;
  font-weight: 400;
  display: flex;
  align-items: center;
  outline: none !important;
}
@media only screen and (max-width: 1199px) {
	.filter-wrapper .shop-tab {
		margin-right: auto;
	}
}
@media only screen and (max-width: 600px) {
	.filter-wrapper .shop-tab {
		margin-right: auto;
		margin-left: 0px;
	}
}
@media only screen and (max-width: 575px) {
	.panel-close-btn {
		left: 0;
		right: auto;
	}
}
/* Style For Home index-2 */
.main-slider.style-2 .banner-media {
	margin-right: auto;
	margin-left: -40px;
}
.main-slider.style-2 .banner-media .border-shap {
	left: auto;
	right: -13%;
	border-radius: 0px 150px 0px 0px;
}
.main-slider.style-2 .banner-media .border-shap2 {
	right: auto;
	left: -7%;
	border-radius: 0px 0px 0px 50px;
}
.main-slider.style-2 .banner-content .bnr-content-bx {
	right: auto;
	left: -5vw;
}
.main-slider.style-2 .banner-content .bnr-content-bx .dz-media {
	margin-right: 0px;
	margin-left: 10px;
}
.main-slider.style-2 .banner-content .bnr-content-bx .meta-icon {
	right: auto;
	left: 0;
}
.main-slider.style-2 .banner-content .bnr-customer-bx {
	left: 0vw;
	right: -3vw;
}
.main-slider.style-2 .banner-content .bnr-customer-bx i {
	margin-right: 0px;
	margin-left: 15px;
}
.main-slider.style-2 .banner-media .star-list .star-1 {
	left: 0px;
	right: 100px;
}
.main-slider.style-2 .banner-media::after {
	left: 0;
	right: 0;
	border-radius: 30px 125px 30px 30px;
}
.category-section .icon-button::after {
	right: 10px;
}
.product-box.style-2 .product-content {
	right: 0px;
}
.product-box .product-content {
	left: 0;
}
[class*="btn-outline"]::after, .btn-primary::after, .wp-block-button__link::after, .woocommerce .widget_shopping_cart .buttons a::after, .woocommerce.widget_shopping_cart .buttons a::after, .woocommerce #review_form #respond .form-submit input::after, .woocommerce-cart-form .table tr .button::after, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button::after, .woocommerce #respond input#submit::after, .woocommerce a.button::after, .woocommerce button.button::after, .woocommerce input.button::after, .woocommerce #place_order::after, .btn-secondary::after, .btn-success::after, .btn-danger::after, .btn-dark::after, .btn-info::after {
	right: 0;
}
.img-ho1::after {
	right: 0px;
}
.dz-media.style-1 {
	margin-right: auto;
	margin-left: 40px;
}
.text-md-end {
	text-align: left !important;
}
.btn-theme i {
	right: auto;
	left: -12px;
	transform: rotate(180deg);
}
.shop-card.style-4 .dz-media {
	margin-right: auto;
	margin-left: 15px;
}
.shop-card.style-4 .dz-media {
	margin-right: 0px;
	margin-left: 15px;
}
@media (min-width: 768px) {
	.ms-md-auto {
		margin-left: 0 !important;
		margin-right: auto !important;
	}
}
.rotating-suggestion {
	transform: rotate(180deg);
}
/* Style For Home footer-style-3 */
.site-footer.style-3 .dz-post {
	float: left;
}
.site-footer.style-3 .footer-bottom, .site-footer.style-3 .footer-top {
	padding-left: auto;
	padding-right: 130px;
}