@import url(./fonts.rtl/YekanBakh/style.css);

/* Style For Section Header */
.post-menu {
    text-align: right;
}
.post-menu .dz-content {
    margin-right: 5%;
}
/* Style For Section Slider */
.main-slider .banner-media .img-preview::after {
    right: auto;
    left: 0;
    transform: rotate(180deg);
}
.animation-btn {
	left: auto;
	right: 39%;
}
.pagination-align.style-1 {
	left: auto;
	right: 70%;
}
.main-slider.style-1 .banner-media .img-preview::after {
    right: auto;
    left: 0;
}
.main-slider.style-1 .star-1 {
	top: 70px;
	/* left: 45%; */
	right: auto;
	left: 46%;
    z-index: 1;
}
.main-slider.star-1, .main-slider.star-2 {
	position: absolute;
	z-index: 1;
}
.main-slider.style-1 .star-2 {
	top: 105px;
	/* right: 13%; */
	right: auto;
	left: 10%;
}
.me-xl-3{
    margin-left: 1rem !important;
    margin-right: auto;
}
/* Style For Section Categoty */
.shop-section .left-box::after {
	left: auto;
	right: 5%;
}
.shop-section .left-box .icon-button {
	position: absolute;
	/* right: -75px; */
	right: 950px;
	top: 50%;
	transform: translate(-8%, -50%);
}
.shop-section .right-box .icon-button {
	position: absolute;
	/* left: -65px; */
	right: -91px;
	top: 50%;
	transform: translate(-10%, -50%);
}
.shop-button-prev{
    transform: rotate(180deg);
}
.shop-button-next{
    transform: rotate(180deg);
}
.badge__emoji {
	display: block;
	/* margin: 0; */
	animation: identifier 20s linear infinite;
	animation-direction: reverse;
	transition: all 0.3s;
}
.badge__emoji::after {
    transform: rotate(180deg);
}
.shop-card .product-tag{
    right: 5px;
}
/* Style For Section BestProducts */
.about-box.style-1.right {
	padding-left: 0px;
	padding-right: 8rem;
}
.about-box.style-1.right .dz-media {
	float: right;
}
.about-box.style-1.right .dz-media img {
	mask-position: right;
}
.about-box.style-1 .dz-media .media-contant {
	right: 50%;
	transform: translate(50%, -50%);
}
.about-box.style-1.right .animation-text {
	left: 0;
	transform: translate(90%, 90%);
}
/* Style For Section Line */
.service-btn-2{
    left: 0;
    right: auto;
    transform: rotate(-90deg);
}
.companies-section::before {
	right: auto;
	left: -4%;
}
.companies-section::after {
	left: auto;
    right: -4%;
}
.companies-section .icon-button::after {
	/* left: -3px; */
	right: -3px;
}
/* Style For Section MostVisitedProducts */
.section-head i {
    transform: rotate(180deg);
}