
/* .widget_categories ul ul {
	margin-left: 10px !important;
} */
.color-discount {
	color: var(--primary);
	font-size: 13px;
	font-weight: 500;
	text-transform: capitalize;
}
.shop-card .color-discount .price del {
	font-size: 12px;
	font-weight: 400;
	display: block;
	margin: 0;
}
/* For Loading */
.loading-container {
	position: absolute;
	top: 30%;
	left: 40%;
	transform: translate(-50%, -50%);
	text-align: center;
  }
  
  .loading-circle {
	display: flex;
	justify-content: center;
	align-items: center;
	/* width: 100px; */
	height: 100px;
	margin-bottom: 20px;
  }
  
  .circle1,
  .circle2,
  .circle3 {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #3498db;
	margin: 10px;
	animation: scale 1s linear infinite;
  }
  
  .circle1 {
	animation-delay: 0s;
  }
  
  .circle2 {
	animation-delay: 0.2s;
  }
  
  .circle3 {
	animation-delay: 0.4s;
  }
  
  @keyframes scale {
	0% {
	  transform: scale(1);
	}
	50% {
	  transform: scale(1.2);
	}
	100% {
	  transform: scale(1);
	}
  }
  
  .loading-text {
	font-size: 18px;
	font-weight: bold;
	color: #333;
  }

  /* @media only screen and (max-width: 600px) {
	.filter-wrapper .shop-tab {
	  margin-left: auto;
	  margin-right: auto;
	  margin-left: 0px;
	}
  } */
   
  /* Style background-color For img */
.img-color-1{
	--tw-bg-opacity: 1;
	background-color: rgba(7, 26, 80, var(--tw-bg-opacity));
}
.back-image {
	/* گرادینت از قرمز به آبی */
	/* background: linear-gradient(to bottom, rgba(255, 0, 0, 0.8), rgba(0, 0, 255, 0.8));  */
    display: block; /* حذف فاصله زیر تصویر */
    width: 100%; /* یا هر عرض دلخواه */
    height: auto; /* حفظ نسبت ابعاد */
    z-index: 1; /* قرار دادن تصویر بالاتر از پس‌زمینه */
}
.back-color-image-0 {
	background: #877ab9;
    background-color: rgb(135, 122, 185);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: none;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
}
.back-color-image-1 {
	background: #b78666;
    background-color: rgb(183, 134, 102);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: none;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
}
.back-color-image-2 {
	background: #efeff1;
    background-color: rgb(239, 239, 241);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: none;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
}
.back-color-image-3 {
	background: #f19b9f;
    background-color: rgb(241, 155, 159);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: none;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
}
.back-color-image-4 {
	background: #d6d5d9;
    background-color: rgb(214, 213, 217);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: none;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
}
.back-color-image-5 {
	background: linear-gradient(#b07f5f, #dcb8ae);
}
.back-color-image-6 {
	background: linear-gradient(to top left, #bc5255, #fdb2b4);
}
/* Style For Home index-2 */
.suggestion-content-inner-2 {
    padding-top: 0px !important;
    padding-bottom: 50px !important;
}