
/* .widget_categories ul ul {
	margin-left: 10px !important;
} */
.color-discount {
	color: var(--primary);
	font-size: 13px;
	font-weight: 500;
	text-transform: capitalize;
}
.shop-card .color-discount .price del {
	font-size: 12px;
	font-weight: 400;
	display: block;
	margin: 0;
}
/* For Loading */
.loading-container {
	position: absolute;
	top: 30%;
	left: 40%;
	transform: translate(-50%, -50%);
	text-align: center;
  }
  
  .loading-circle {
	display: flex;
	justify-content: center;
	align-items: center;
	/* width: 100px; */
	height: 100px;
	margin-bottom: 20px;
  }
  
  .circle1,
  .circle2,
  .circle3 {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #3498db;
	margin: 10px;
	animation: scale 1s linear infinite;
  }
  
  .circle1 {
	animation-delay: 0s;
  }
  
  .circle2 {
	animation-delay: 0.2s;
  }
  
  .circle3 {
	animation-delay: 0.4s;
  }
  
  @keyframes scale {
	0% {
	  transform: scale(1);
	}
	50% {
	  transform: scale(1.2);
	}
	100% {
	  transform: scale(1);
	}
  }
  
  .loading-text {
	font-size: 18px;
	font-weight: bold;
	color: #333;
  }